.BtnAjoutPanier{
    background-color: lightblue;
    margin: 5px;
    padding: 0.4rem;
    border: 2px solid deepskyblue;
    border-radius: 3px;
    cursor: pointer;

    &:hover{
        filter: saturate(1.5);
        size: 105%;
        font-weight: bold;
    }
}